<!DOCTYPE html>
<html>
<head>
    <title>Hula.fm | Community Beats</title>


    <!--Javascript-->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/javascripts/auth.js"></script>

    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/background.js"></script>

    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/app.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <link rel='stylesheet' href='/stylesheets/background.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <link rel='stylesheet' href='/stylesheets/spa.css' />


</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <span id="rooms-nav-button" class="spa-link-rooms">Rooms</span>
                    </li>
                    <li>
                        <span id="now-playing-nav-button" class="spa-link-now-playing">Now Playing</span>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span id="create-room-nav-button" class="spa-link-create-room">Create Room</span>
                    </li>

                    {{#if user}}
                        <li>
                            <span>{{user.username}}</span>
                        </li>
                        <li>
                            <span id="login-nav-button" class="spa-link-logout">Logout</span>
                        </li>
                    {{else}}
                        <li>
                            <span id="login-nav-button" class="spa-link-login">Login</span>
                        </li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </nav>

    <div id="background-layer"></div>
    <div id="background-shader"></div>
    <div id="page-content">
        <div id="room-list-tab" class="container"></div>


        <!-- Player Tab -->
        <div id="player-tab" class="container">
            <div id="video-container">

                <!-- Video -->
                <div class="col-md-8 col-xs-12">
                    <div id="player-container" class="embed-responsive embed-responsive-16by9">

                        <div id="player" class="youtube-player embed-responsive-item"></div>

                        <div id="time-elapsed">
                            <div></div>
                        </div>

                        <div id="song-info-container">
                            <lead id="song-name" style="margin-left: 5px">
                                Nothing Without Love - Etherwood
                            </lead>
                        </div>

                        <div id="player-options">
                            <div id="video-toggle" onClick="togglePlayerVisibility()">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div id="volume-toggle">
                                <i class="fa fa-volume-down"></i>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Chat -->
                <div class="col-md-4 col-xs-12">
                    <div id="chat-container">
                        <div class="panel panel-default panel-dark">
                            <div class="panel-heading">Chat</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer">
                                <input id="chat-input" class="form-control" type="text" placeholder="Say Something Nice" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <!-- Login Modal -->
        <div id="login-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login to Hula.fm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-signin">
                            <form action="/login" method="post" role="form" onsubmit="return submitLoginForm();">
                                <h3 class="text-center">Enter your info</h3>
                                <input type="username" id="login-input-username" class="form-control form-signin-top" placeholder="Email or username" required autofocus>
                                <input type="password" id="login-input-password" class="form-control form-signin-bottom" placeholder="Password" required>

                                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                            </form>

                            <div class="text-center" style="margin-top: 18px">
                                <a id="signup-nav-button" class="spa-link spa-link-signup">Need an Account?</a>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Signup Modal -->
        <div id="signup-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Join the Hula.fm Community</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-signin">
                            <form action="/signup" method="post" role="form" onsubmit="return submitSignupForm();">
                                <h3 class="text-center">Create your Account</h3>
                                <input type="username" id="signup-input-username" class="form-control form-signin-top" placeholder="Username" required autofocus>
                                <input type="email" id="signup-input-email" class="form-control form-signin-middle" placeholder="Email" required autofocus>
                                <input type="password" id="signup-input-password" class="form-control form-signin-bottom" placeholder="Password" required>

                                <button class="btn btn-primary btn-block" type="submit">Sign me up!</button>


                            </form>

                            <div class="text-center" style="margin-top: 18px">
                                <a class="spa-link spa-link-login">Already have an account?</a>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if user}}
        <div id="t1" style="visibility: hidden">{{user.username}}</div>
        <div id="t2" style="visibility: hidden">{{user.password}}</div>
    {{else}}
        <div id="t1" style="visibility: hidden"></div>
        <div id="t2" style="visibility: hidden"></div>
    {{/if}}
</body>
</html>